$n-red:#FF0000;
$n-green: #00FF00;
$n-blue: #0000FF;
$n-cyan:#00FFFF;
$n-magenta: #ff00de;
$n-yellow: #FFFF00;

$gray: #101010;
$asphalt: #34495e;
$darkBlue: #2980b9;
$lightBlue: #3498db;
$lightestBlue: #1ea5ff;

$silver: #95a5a6;
$concrete: #bdc3c7;
$darkPurple: #7a3c94;
$lightPurple: #aa5ec9;

$greenSea: #1abc9c;
$turquoise: #16a085;
$emerald: #2ecc71;
$darkGreen: #27ae60;

$lightRed: #e74c3c;
$darkRed: #c0392b;
$lightYellow: #f1c40f;
$darkYellow: #f39c12;

$orange: #e67e22;

$white: #fff;
